@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Roboto:wght@400;500;700&display=swap');

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background: #e5e5e5;
  padding: 40px 300px 40px 300px;
}

.container {
  min-height: calc(100vh - 80px);
  display: grid;
  grid-template-columns: 50% 50%;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
}

/* Content on the left side of the page */

.login-left {
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-content: center;
}

.login-left-content {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    padding-left: 10%;
}

.login-left-texts {
  width: 100%;
}

.login-left-texts h1 {
    font-weight: 700;
    font-size: 30px;
    color: #3751FE;
    text-justify: auto;
}

.login-left-texts h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #3751FE;
    margin-top: 60px;
}

.login-left-texts h3 {
    font-size: 14px;
    color: #00000099;
    margin-top: 65px;
    margin-bottom: 25px;
}

.form-item label, p {
    font-size: 13px;
    line-height: 21px;
    color: #0000009c;
}

.form-item label:not(#checkBoxLabel) {
    display: inline-block;
    transform: translate(20px, 12px);
    position: absolute;
}

.form-item input:not(#checkBoxItem) {
    width: 95%;
    height: 50px;
    border: 1px solid #C1BBBB;
    background: #FFFFFF;
    outline: none;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    color: #3751FE;
    padding: 39px 0px 14px 27px;
    transition: 0.2s ease-in-out;
}

.form-item input:focus:not(#checkBoxItem) {
  border-left: 3px solid #0C31F1;
}

#form-item-check {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
    margin-top: 20px;
}

.form-item-checkbox {
    display: flex;
    align-items: center;
    gap: 7px;
}

#checkBoxLabel {
    transform: translate(30px, 0px);
    position: absolute;
}

#checkBoxItem {
    width: 20px;
    height: 20px;
    accent-color: #3751FE;
    display: flex;
    align-items: center;
    gap: 7px;
    cursor: pointer;
}

.form-item-text a {
  font-size: 13px;
  line-height: 21px;
  color: #0000009c;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.form-item-text a:hover {
  text-decoration: underline;
}

.login-left-buttons {
  margin-top: 30px;
  display: flex;
  gap: 15px;
}

.login-left-buttons button {
  width: 129px;
  height: 54px;
  background: #FFFFFF;
  border: 1px solid #3751FE;
  font-size: 14px;
  line-height: 21px;
  color: #3751FE;
  transition: 0.3s ease-in;
  cursor: pointer;
}

.login-left-buttons button:hover {
  background: #3751FE;
  box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.25);
  color: #FFFFFF;
}

.login-left-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 50px;
  gap: 20px;
  width: 100%;
}

#loginWith {
  font-weight: 400;
  font-family: 'Roboto';
  font-size: 17px;
  line-height: 21px;
  color: #0000009c;
}

.login-left-footer a {
  font-weight: 700;
  font-size: 14px;
  color: #3751FE;
  text-decoration: none;
  transition: 0.1s ease-in-out;

}

.login-left-footer a:hover {
  font-size: 14.8px;
}

/* Content on the right side of the page */

.login-right {
  display: flex;
  background: #e5e5e569;
  justify-content: content;
  flex-direction: column;
  align-items: center;
}

.login-right-content {
  display: flex;
  flex-direction: column;
}

.login-right-header {
  margin-top: 7%;
  display: grid;
  place-items: center;
}

.login-right-header nav ul {
  display: flex;
  gap: 40px;
  list-style: none;
}

.login-right-header nav ul li a {
  font-size: 18px;
  text-decoration: none;
  color: #746d6d;
  position: relative;

}

.login-right-header nav ul li a:hover {
  color: #000000;
}

.login-right-header nav ul li a::after {
  content: "";
  position: absolute;
  background-color: #0C31F1;
  height: 2px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}

.login-right-header nav ul li a:hover::after {
  width: 100%;
}

.login-right-img {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.login-right img {
  width: 100%;
}


/* Responsive Design */